[submodule "themes/AltitudeDark"]
	path = themes/AltitudeDark
	url = https://github.com/1090MHz/AltitudeDark.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/1090MHz/hugograyscale.git
