{{ $separators := .Params.separators | default (slice) }}
{{ $depth := .Scratch.Get "menu-depth" }}

{{ $isTopLevel := eq $depth 0 }}
{{ $isExpandable := or .Sections .Pages }}
{{ $dropClass := cond (and (not $isTopLevel) $isExpandable) "dropend" "" }}


<li class="group/menu-depth-{{ $depth }} {{ $dropClass }} relative">
  <a class="menu-item">
    {{ .Title }}
  </a>

  {{ if $isExpandable }}
    <ul
      class="dropdown-menu group-hover/menu-depth-{{ $depth }}:block"
      aria-label="Submenu"
    >
      {{ $items := union .Sections .Pages }}
      {{ $sorted := sort $items "Weight" }}

      {{ range $index, $item := $sorted }}
        {{ if $item.IsSection }}
          <!-- Handle subsections -->
          {{ .Scratch.Set "menu-depth" (add ($.Scratch.Get "menu-depth") 1) }}
          {{ partial "menu-item.html" $item }}
        {{ else }}
          <!-- Handle regular pages -->
          <li>
            <a class="menu-item">
              {{ $item.Title }}
            </a>
          </li>
        {{ end }}


        <!-- Add separator if needed -->
        {{ if in $separators (add $index 1) }}
          <li>
            <hr class="menu-separator" />
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</li>
